* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #fff; 
    font-family: sans-serif;
}

.navbar {
    background: linear-gradient(#043104,#0e970e);
    height: 70px;
    padding: 0 20px; 
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%; 
}
.nav-links {
    list-style: none;
    display: flex;              
    gap: 30px;                  
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-links li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.logo a {
    font-size: 32px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}
.logo img {
    
    height: 55px; 
    width: auto;
    vertical-align: middle; 
    margin-right: 10px; 
}
    
.logo {
    display: flex; 
    align-items: center; 
}

.btn {
    background-color: #198754;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn a {
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.btn:hover {
    background-color: grey;
}

.content {
    text-align: center;
    color: black;
    margin-top: 125px;
    padding: 20px;
    max-width: 600px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.menu-toggle {
  display: none;
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#0e970e, #043104);
    position: fixed;
    top: 60px;
    left: -250px; 
    height: 100%;
    width: 200px;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 999;
    border-radius: 0;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-links li {
    margin-bottom: 20px;
  }

  .nav-links a {
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
}
